
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
   
}
h1{
    color: rgb(219, 57, 114);
    margin: 40px 0px ;
    text-align: center;font-family: 'Fredoka One', cursive;

    
    
}
p{
    margin: 40px 0px;
    text-align: center;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    
}

.card{
    float: left;
    width: calc(100% / 3 - 20px);
    background-color: black;
    margin: 10px;
    
}
.cards{
    margin-bottom: 40px;
}
.card img{
    height: 100px;
   
    float: left;
    margin: 0px 10px 0px 0px;
}
img{
    height: 120px;
}
h4, h5{
    color: white;
    margin-bottom: 10px;
    
    
}
.profilo{
    margin-block: 10px;
}
a{
    color: rgb(1, 204, 245);
}
.clearfix::after{
      content: '';
      clear: both;
      display: table;
}