
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.debag .card{
    border: 1px solid red;
    
}
 
h1{
    color: purple;
    margin: 40px 0px;
    text-align: center;
}

.container{
    max-width: 1178px;
    margin: 0 auto;
}

.card{
    float: left;
    width: calc(100% / 3);
}
.card img{
    height: 109px;
    float: left;
}
img{
    height: 120px;
}
.profilo{
    
}
.clearfix::after{
      content: '';
      clear: both;
      display: table;
}